.city_box a {
  color: #000;
}

.local_city {
  color: #3F4358;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  padding-left: 20px;
}

.city_lst li {
  color: #394B59;
  float: left;
  font-size: 14px;
  height: 45px;
  line-height: 40px;
  text-align: center;
  width: 33.3%;
}

.city_box .city_lst {
  overflow: hidden;
  width: 100%;
}

.city_box h4 {
  border-bottom: 1px solid #FF6C00;
  border-top: 1px solid #C8C9CA;
  clear: both;
  font-weight: normal;
  height: 40px;
}

.city_box h4 p {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #999999;
  font-size: 13px;
  line-height: 39px;
  padding-left: 10px;
}

.city_box h4 p span {
  color: #3F4358;
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
}
