.fixed_menu {
  position: fixed;
  bottom: 1px;
  width: 100%;
  z-index: 999;
  border-top: 1px solid #CCCCCC;
}

.menu_item {
  float: left;
  width: 33.3%;
  height: 100%;
  text-align: center;
}

.gotop {
  right: 11px;
}
