.detail_ul li {
  border-bottom: 1px solid #ddd;
}

.bg_body {
  padding-bottom: 70px;
}

.title_icon {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3em;
}

.title_text {
  margin: 1em 0 1em 1.6em;
  font-size: 1.3em;
}

.release_btn {
  width: 80%;
  height: 36px;
  margin-top: 15px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 14px;
}
