.head_bg {
  height: 110px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #FFF;
}

.head_icon {
  width: 66px;
  height: 66px;
}

.head_icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.list_margin {
  margin-left: 8px;
}

.list_name {
  font-size: 16px;
  color: #A24824;
}

.list_right {
  padding-top: 26px;
  padding-left: 78%;
  font-size: 20px;
  color: #d1d1d1;
}

.type_button {
  margin-top: 0.5em;
  padding: 0 12px;
  border: 1px solid #A24824;
  color: #A24824;
}

.footer_body {
  line-height: 36px;
  padding-left: 76px;
  background-color: #FFF;
}

.footer_button {
  float: right;
  padding: 0 10px;
}

.comment_body {
  padding-left: 76px;
  padding-bottom: 5px;
  background-color: #FFF;
}

.comment_container {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #f7f7f7;
}

.comment_content {
  color: #666;
}
